div {
    width: 100px;
    height: 100px;
    -webkit-transition: width 2s;/* Chrome, Safari, Opera */
    transition: width 2s;
    -webkit-animation-name: example;/* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s;/* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
div:hover {
    width: 300px;
}

/* Chrome, Safari, Opera */

@-webkit-keyframes example {
    from {
        background-color: red;
    }
    to {
        transform: rotate(360deg) scale(0.5, 0.5);
        background-color: yellow;
    }
}

/* Standard syntax */

@keyframes example {
    from {
        background-color: red;
    }
    to {
        transform: rotate(360deg) scale(0.5, 0.5);
        background-color: yellow;
    }
}